<!--
<div class="container">
    <h1>Find on git</h1>
    <div class="row form-group">
        <input type="text" class="form-control" id="search" placeholder="Search a git repository" (keyup)="temp$.next($event.target.value)" />
    </div>
    <div class="container" *ngIf="flag > 0">
        <hr>
        <h2>Repositories found</h2>
        <br /> <br />
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Git URL</th>
            </tr>
            </thead>
            <tbody [@listAnimation]="flag"  (@listAnimation.done)="animationDone($event)" (@listAnimation.start)="animationStarted($event)">
            <tr *ngFor="let repository of repositories | paginate: { itemsPerPage: 10, currentPage: p, totalItems: repositoriesCount }" [@testAnim]="state" >
                <td>{{repository.full_name}}</td>
                <td class={{repository.id}}>
                    {{repository.git_url}}
                    <p><i class="fa fa-plus-circle" aria-hidden="true" (click)="seeDescription($event)"></i>Description</p>
                    <div class="description hidden" id={{repository.id}}>
                        {{repository.description != null ? repository.description : 'No description'}}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"  ></pagination-controls>
    </div>
</div>
<div *ngIf="error" class="noRepositories">
    We couldn’t find any repositories matching your request
</div>-->
