<div class="form-group">
    <input class="form-control searchInput" placeholder='Search repositories...' [(ngModel)]='search' (keyup)="term$.next($event.target.value)">
</div>

<div *ngIf="!error">
    <div [@repositoriesContent]="state" (@repositoriesContent.done) ="done($event)" (@repositoriesContent.start) ="start($event)">
        <div class="repository"  *ngFor="let rep of repositories | paginate: { itemsPerPage: count, currentPage: page, totalItems: totCount }; let i = index;" [@repositories]="repState" >
            <h3> <a href="{{ rep.svn_url }}"> {{rep.name}} </a><small class="pull-right"><strong>Language:</strong> {{ rep.language }}</small></h3>
            <p>{{ rep.description }}</p>
            <small>Updated on {{rep.updated_at }}</small>
        </div>
    </div>
</div>
<div *ngIf="error" class="noRepositories">
    We couldn’t find any repositories matching your request
</div>

<nav class="text-center" *ngIf="!error">
    <ul *ngIf="totCount" class="pagination pagination-md">
        <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
    </ul>
</nav>
