.searchInput{
    padding:30px;
    font-size:20px;
}
.repository{
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}
.repository p{
    padding: 5px;
    margin-left: 15px;
}
.repository h3 {
    margin-top:0;
}
.noRepositories{
    width:100%;
    font-size: 20px;
    text-align:center;
    padding:20px;
}
