.sendMessageCont button{
    margin-top:10px;
}
.user {
    cursor:pointer;
    padding:10px;
}
.chatMessageCont {
    width:100%;
    float:left;
}
.messages {
    float: left;
    width: 100%;
    padding: 5px;
    overflow-y: scroll;
    max-height: 350px;
}
.message {
    padding:8px;
}
.messageFrom {
    margin-right:20px;
}
.messageTo {
    margin-left:20px;
}
.newMessage {
    padding: 3px 8px;
}