<div *ngIf="clickSendMessage">
    <div class="messages">
        <div *ngFor="let mess of messages">
            <div class="chatMessageCont">
                <div *ngIf="mess.from == logedUserId" class="pull-right alert alert-info message messageFrom">
                    {{mess.message}}
                </div>
                <div *ngIf="mess.from != logedUserId" class="pull-left alert alert-success message messageTo">
                    {{mess.message}}
                </div>
            </div>
        </div>

    </div>
    <div class="form-group sendMessageCont">
        <div>

        </div>
        <textarea class="form-control" placeholder="Type message here" [(ngModel)]="message"></textarea>
        <button class="btn btn-info pull-right" (click)="sendMessage()">Send</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <th>#</th>
    <th>User Name</th>
    <th>Email</th>
    <th>Age</th>
    <th> </th>
    </thead>
    <tbody>
    <tr *ngFor="let user of arrayOfKeys; let i = index" class="user userRow{{i}}" (click)="clickMessage(user)" id="{{user}}">
            <td>{{i  + 1}}</td>
            <td>{{ users[user].username }}</td>
            <td>{{ users[user].email }}</td>
            <td class="age">{{users[user].age}}</td>
    </tr>

    </tbody>
</table>