.header{
    padding: 0px 30px;
    border-bottom: 2px solid #ff0039;
    background: #333;
}
.appImg{
    float:left;
    width:70px;
    height:70px;
    padding:0px 20px 0px 5px;
    border-right:1px solid #000;
}
.nav{
    padding: 25px;
    float: left;
    border-left: 1px solid #505050;
}
.content {
    margin-top:50px;
}
.navB {
    margin: 0px 10px;
    color: #fff;
    font-weight:bold;
}
.nav a:hover {
    color: #ff0039;
}
.activeNav {
    color: #ff0039;
}
.user-info{
    padding: 15px 15px 0 15px;
}
.user-info a {
    padding:8px;
}
.user-info a:hover {
    color: #ff0039;
}
.userAvatar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: -17px 0 0 10px;
    float: right;
    border: 1px solid #222;
}
.user-info .my_profile{
    padding-bottom: 0;
}