h3 {
    text-align:center;
}
.answers {
    width: 60%;
    margin:auto;
}
.answered {
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #ffffff;
}
.answerBody {
    position:relative;
}
.score {
    position: absolute;
    padding: 15px;
    text-align: center;
    background: #222;
    color: #fff;
    top: 150px;
    right: 150px;
    border-radius: 10px;
}
.time {
    position: absolute;
    padding: 15px;
    text-align: center;
    background: #222;
    color: #fff;
    top: 150px;
    left: 150px;
    font-size:20px;
    border-radius: 10px;
}
.continue {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
    margin-right: -60px;
    float: right;
    position: relative;
}
.complated {
    text-align:center;
}
.start {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
}