<div class="btn btn-success btn-lg start" (click)="start()" *ngIf="!questions">Start</div>
<div class="answerBody" *ngIf="questions">
    <div *ngIf="!complated" [@next]="state">
        <h3>Question {{ num }} / {{ qLength }}</h3>
        <div>
            <pre class="language-js">
            {{ questions.body }}
            </pre>
        </div>
        <h3>{{ questions.title }}</h3>
        <div class="answers" *ngIf="answers">
            <button *ngFor="let answer of answers" class="btn btn-default btn-lg btn-block ans" (click)="check($event, answer)" [attr.data-answer]="answer">
                {{answer}}
            </button>
            <button class="btn btn-warning btn-lg btn-block" (click)="continue(true)">
                Skip
            </button>
        </div>
        <div class="answered" *ngIf="answered"></div>
        <div *ngIf="answered" class="btn btn-primary continue" (click)="continue()">Continue <i class="glyphicon glyphicon-arrow-right"></i></div>
    </div>
    <div class="complated" *ngIf="complated">
        <h1 *ngIf="time == 0">TIME IS OVER!!!!</h1>
        <h1>Quiz Complated!!!!</h1>
        <h2>Your result: {{ (score * 100) / qLength }}%</h2>
        <h3 style="color: #34960c;">Correct answers: {{ score }}</h3>
        <h3 style="color: #d80b0b;">Wrong answers: {{ qLength - score - skipped - (num == qLength ? 0 : qLength - num + 1)}}</h3>
        <h3 style="color: #d58512;">Skipped: {{ skipped  + (num == qLength ? 0 : qLength - num + 1)}}</h3>
    </div>
</div>
<div class="score" *ngIf="questions">Your score: {{ score }}</div>
<div class="time" *ngIf="questions">Time: {{ time }}</div>
