input.ng-valid, input.ng-valid[required] {
    border: 2px solid #42A948; /* green */
}
input.ng-touched.ng-invalid {
    border: 2px solid #a94442;
}
.invalid{
    border: 2px solid #a94442;
}
.valid{
    border: 2px solid #42A948;
}
.errMsg{
    padding:5px;
    margin-top:15px;
}
.usersForm{
    margin-top:15px;
}