<div class="form-group " *ngIf="aboutPage" >
    <button class="btn btn-danger" (click)="animateForm()">Add new user</button>
    <div >
        <form #myForm="ngForm"  [formGroup]="usersForm" (ngSubmit)="submitButton ? addUser(): editUser(); myForm.reset()" class="usersForm" [@addUserForm]="inputState" (@addUserForm.start)='start($event)' (@addUserForm.done)='done($event)'>
            <div class="form-group anim" [@inputState]="inpSt">
                <label>Name</label>
                <input class="form-control"  name="name" formControlName="name" [(ngModel)]="userName" placeholder="Enter your name">
                <div *ngIf="usersForm.controls['name'].invalid && usersForm.controls['name'].touched"
                class="alert alert-danger errMsg">Please write your name</div>
            </div>
            <div class="form-group anim"  [@inputState]="inpSt">
                <label>Email</label>
                <input class="form-control" name="email" formControlName="userEmail" type="email" [(ngModel)]="email" placeholder="Email">
                <div *ngIf="usersForm.controls['userEmail'].invalid && usersForm.controls['userEmail'].touched && !emailMatch"
                     class="alert alert-danger errMsg">Please write valid email address</div>
                <div *ngIf="emailMatch" class="alert alert-danger errMsg">This email now uses.Please write another</div>
            </div>
            <div class="form-group anim" [@inputState]="inpSt">
                <label>Age</label>
                <input class="form-control" type="number" name="age" formControlName="age" [(ngModel)]="userAge" placeholder="Age">
                <div *ngIf="usersForm.controls['age'].invalid && usersForm.controls['age'].touched"
                     class="alert alert-danger errMsg">Please write valid number</div>
            </div>
            <div class="form-group anim" [@inputState]="inpSt">
                <label>Password</label>
                <input class="form-control" name="password" [(ngModel)]="password" formControlName="userPassword" placeholder="Password"  >
                <div *ngIf="usersForm.controls['userPassword'].invalid && usersForm.controls['userPassword'].touched"
                     class="alert alert-danger errMsg">Please write your name</div>
            </div>
            <div class="form-group anim" [@inputState]="inpSt">
                <label>Confirm Password</label>
                <input class="form-control" name="confirmPassword" [(ngModel)]="cpassword" formControlName="confirmPassword"  placeholder="Confirm password">
                <div *ngIf="usersForm.controls['confirmPassword'].invalid && usersForm.controls['confirmPassword'].touched" class="alert alert-danger errMsg">Passwords aren't matching</div>
            </div>
            <div class="form-group anim" [@inputState]="inpSt">
                <button  class="btn btn-default" *ngIf="!submitButton" (click)="showUserData(editIndex)">Cancel</button>
                <button [disabled]="myForm.invalid"  class="btn btn-warning submitForm" *ngIf="!submitButton">Edit</button>
                <button [disabled]="myForm.invalid" class="btn btn-success submitForm" *ngIf="submitButton">Add</button>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <th>#</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody [@removeUser]="users.length">
        <tr *ngFor="let user of users; let i = index" >
            <td>{{i  + 1}}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td><button class="btn btn-warning" (click)="showUserData(i); animateForm('edit')">Edit</button></td>
            <td><button class="btn btn-danger" (click)="removeUser(i)">Delete</button></td>
        </tr>
    </tbody>
</table>