<div >
    <div *ngIf="userData && logedUserId;else sign_in">
        <div *ngIf="!emailVerified;else valid" class="verifyEmail"><h3>Please check your mail and verify your account to use it. If you haven't got  email with verification link, you can get another by clicking this button</h3>
            <button *ngIf="!sentEmail" class="btn btn-warning" (click)="verifyEmail($event)">Send another verification email</button>
            <p class="text-success" *ngIf="sentEmail">We sent you another email with verification link. Please check</p>
        </div>

        <ng-template #valid>
            <h2>Personal page<button class="btn btn-danger pull-right" (click)="signOut()">Sign Out <i class="glyphicon glyphicon-log-out"></i></button></h2>

            <div class='userProfile'>

                <div [@editForm]="editNameState" (@editForm.done)="editDone($event)">
                    <div *ngIf="error" class="alert alert-danger">{{message}}</div>
                    <div *ngIf="success" class="alert alert-success">{{message}}</div>
                    <h3>
                        <span *ngIf="!editNameState">Name: {{userData.name}}</span>
                        <input *ngIf="editNameState" class="form-control pull-left afef" name="name" [(ngModel)]="userName" placeholder="Enter new name">
                        <button class="btn btn-default" *ngIf="!editNameState" (click)="showEditForm(1)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button class="btn btn-warning edit" *ngIf="editNameState" (click)="updateName()">Ok</button>
                        <button class="btn btn-default edit" *ngIf="editNameState" (click)="showEditForm(1)">Cancel</button>
                    </h3>
                </div>
                <div [@editForm]="editAgeState">
                    <h3>
                        <span *ngIf="!editAgeState">Age: {{userData.age}}</span>
                        <input *ngIf="editAgeState" class="form-control pull-left afef" name="age" [(ngModel)]="age" placeholder="Enter new age">
                        <button class="btn btn-default" *ngIf="!editAgeState" (click)="showEditForm(0)">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                        <button class="btn btn-warning edit" *ngIf="editAgeState" (click)="updateAge()">Ok</button>
                        <button class="btn btn-default edit" *ngIf="editAgeState" (click)="showEditForm(0)">Cancel</button>
                    </h3>
                </div>
                <div>
                    <h3>
                        <span>Current avatar</span>
                    </h3>
                    <h3>
                        <img class="bigAvatar" src="https://firebasestorage.googleapis.com/v0/b/fgfdg-4df40.appspot.com/o/{{userData.avatar}}?alt=media">
                        <button class="btn btn-warning edit" (click)="changeAvatar(); getUserImgs()">Change avatar</button>
                    </h3>

                </div>
                <div>
                    <h3>
                        <span>My images </span>
                        <button class="btn btn-success" (click)="getUserImgs()"><i class="glyphicon glyphicon-plus"></i></button>
                    </h3>
                    <div class="imgCont" *ngIf="showImages">
                        <div class="images" >
                                <div *ngFor="let img of userImages" class="img">
                                    <img  src="https://firebasestorage.googleapis.com/v0/b/fgfdg-4df40.appspot.com/o/{{img.link}}?alt=media"  (mouseover)="imgHover($event, img)" (mouseout)="imgOut($event)" (click)="setNewAvatar(img.link)">
                                    <div *ngIf="userData.avatar == img.link" class="alert alert-warning avatar-alert">
                                        <span>avatar</span>
                                    </div>

                                </div>
                            <!--<div *ngIf="!userImages && message">-->
                                <!--<h1>{{message}}</h1>-->
                            <!--</div>-->
                        </div>
                        <div class="addImg">
                            <h4>Add new images</h4>
                            <input type="file" class="pull-left" (change)="avatarCheck($event)" #multiImageInput  multiple />
                            <button *ngIf="addNewImage" (click)="addNewImages()" class="btn btn-success pull-right">Add new images</button>
                        </div>
                        <div class="addImg pull-left loadedImages"></div>

                    </div>
                </div>
                <h3>Email: {{userData.email}}</h3>
                <button (click)="showPassForm()" class="btn btn-default">Change password</button>

                <form #signInForm="ngForm" *ngIf="showPass" class="changePasswordForm" (ngSubmit)="changePassword(); signInForm.reset();">
                    <div class="form-group " >
                        <label>New password</label>
                        <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="New password"  >
                    </div>
                    <div class="form-group " >
                        <label>Confirm password</label>
                        <input class="form-control" type="password" name="password" [(ngModel)]="confirmPassword" placeholder="Confirm password"  >
                    </div>
                    <div class="form-group " >
                        <button  class="btn btn-success submitForm form-control" >Change password</button><!--(click)="changePassword()"-->
                    </div>
                </form>
            </div>
        </ng-template>
    </div>

    <ng-template #sign_in>
        <div *ngIf="!logedUserId && start" class="signinForm" [@hideSignIn]="signinState" (@hideSignIn.done)="done($event)">
            <div *ngIf="error" class="alert alert-danger">{{message}}</div>
            <form #signInForm="ngForm" (ngSubmit)="signIn(); signInForm.reset();">
                <h3>Sign in to NewApp</h3>
                <div class="signinContnent">
                    <div class="form-group anim">
                        <label>Email</label>
                        <input class="form-control" name="email"  type="email"  [(ngModel)]="email" placeholder="Email" >
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" [(ngModel)]="password" placeholder="Password" >
                    </div>
                    <div class="form-group">
                        <button  class="btn btn-success submitForm form-control">Sign In</button>
                    </div>
                </div>
            </form>

            <div class="form-group">
                <button class="btn btn-default signupbtn" (click)="google()">Google +</button>
            </div>
            <div class="form-group">
                <button class="btn btn-info signupbtn" (click)="showSingUp()">Create an account</button>
            </div>
        </div>
    </ng-template>

    <div *ngIf="signup && !logedUserId">
        <div class="form-group anim" [@h3]="h3State">
            <button  class="btn btn-success submitForm pull-right" (click)="showSingUp()">Sign in existing account</button>
            <h3>Create your personal account</h3>
        </div>
        <form #myForm="ngForm" [formGroup]="usersForm"   (ngSubmit)="addUser(); myForm.reset()" class="signupForm" [@showSignUp]="signupState" (@showSignUp.done)="doneSU($event)" (@showSignUp.start)="startSU($event)" > <!---->

            <div class="form-group anim" [@forStagger]="stagerState">
                <label>Name</label>
                <input class="form-control signUpInput"  name="name"  [(ngModel)]="userName" placeholder="Enter your name" formControlName="name"><!-- -->
                <div *ngIf="usersForm.controls['name'].invalid && usersForm.controls['name'].touched"
                     class="alert alert-danger errMsg">Please write your name</div>
            </div>
            <div class="form-group anim" [@forStagger]="stagerState"> <!--  [@inputState]="inpSt"-->
                <label>Email</label>
                <input class="form-control signUpInput" name="email"  type="email" [(ngModel)]="email" placeholder="Email" formControlName="userEmail"> <!-- -->
                <div *ngIf="usersForm.controls['userEmail'].invalid && usersForm.controls['userEmail'].touched && !emailMatch"
                     class="alert alert-danger errMsg">Please write valid email address</div>
                <div *ngIf="emailMatch" class="alert alert-danger errMsg">This email now uses.Please write another</div>
            </div>
            <div class="form-group anim" [@forStagger]="stagerState"><!-- [@inputState]="inpSt"-->
                <label>Age</label>
                <input class="form-control signUpInput" type="number" name="age" [(ngModel)]="age" placeholder="Age" formControlName="age"><!-- -->
                <div *ngIf="usersForm.controls['age'].invalid && usersForm.controls['age'].touched"
                     class="alert alert-danger errMsg">Please write valid number</div>
            </div>
            <div class="form-group anim pull-left avaCont" [@forStagger]="stagerState" >
                <div class="pull-left">
                    <label>Avatar</label>
                    <input name="avatar" #imageInput type="file" formControlName="avatar" (change)="avatarCheck($event)">
                </div>
                <img [src]="" *ngIf="imgSrc" id="uploadImage">
            </div>
            <div class="form-group anim pull-left"  [@forStagger]="stagerState">
                <label>Password</label>
                <input class="form-control signUpInput" name="password" [(ngModel)]="password" placeholder="Password"  formControlName="userPassword"> <!-- -->
                <div *ngIf="usersForm.controls['userPassword'].invalid && usersForm.controls['userPassword'].touched"
                     class="alert alert-danger errMsg">Please write your name</div>
            </div>
            <div class="form-group anim pull-left" [@forStagger]="stagerState">
                <label>Confirm Password</label>
                <input class="form-control signUpInput" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm password" formControlName="confirmPassword"><!--  -->
                <div *ngIf="usersForm.controls['confirmPassword'].invalid && usersForm.controls['confirmPassword'].touched" class="alert alert-danger errMsg">Passwords aren't matching</div>
            </div>
            <div class="form-group anim pull-left"  [@forStagger]="stagerState">
                <button [disabled]="myForm.invalid" class="btn btn-info submitForm">Sign Up</button>
            </div>
        </form>
    </div>

</div>