.signupForm{
    padding:20px;
}
.signinForm{
    width:300px; margin:auto;
}
.signinForm h3 {
    text-align:center;
}
.signinContnent{
    border:1px solid #ccc;
    padding:15px;
    border-radius:8px;
    margin-top:5px;
}
.signupbtn{
    width:100%;
    margin-top:20px;
}
.verifyEmail{
    text-align:center;
}
.edit{
    margin: 0 5px;
}
h2 {
    margin-bottom:40px;
}
.userProfile{
    margin-left:30px;
}
h3 input {
    width:40%;
}
.changePasswordForm{
    width:400px;
    margin:20px auto 0 auto;
}
input.signUpInput.ng-valid, input.ng-valid[required] {
    border: 2px solid #42A948; /* green */
}
input.ng-touched.ng-invalid {
    border: 2px solid #a94442;
}

/*.invalid{
    border: 2px solid #a94442;
}
.valid{
    border: 2px solid #42A948;
}*/
.errMsg{
    padding:5px;
    margin-top:15px;
}
#uploadImage {
    width: 150px;
    margin: 10px;
    border-radius: 50%;
    height: 150px;
    border: 2px solid #222;
    float: right;
}
.avaCont{
    margin-bottom:10px;
}
.bigAvatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #222;
}
.images {
    width: 98%;
    margin-left: 2%;
    padding: 10px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    float:left;
}
.addImg {
    margin-top:10px;
    width:100%;
    float:right;
}

.avatar-alert{
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 0;
    font-weight: bold;
    padding: 5px 15px;
}
.loadedImages {
    float:left;
    margin: 10px;
    background: #f6f6f6;
}
