/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
}
.ngx-pagination a, .current{
    padding:3px;
    border:1px solid #ccc;
    margin:3px;
}
.sendMessageCont button{
    margin-top:10px;
}
.sendMessageCont {
    background: #f3f9f5;
}
.removeImg {
    position: absolute;
    top:0;
    right:0;
}
.removeImg button {
    top:0;
    z-index:999;
}
.loadedImage{
    width:150px;
    border-radius:10px;
    border: 1px solid #222;
    float:left;
    margin:10px;

}
.img{
    float:left;
    width:198px;
    margin:10px;
    position:relative;
    cursor:pointer;
}
.img img {
    width:198px;
    border-radius:10px;
    border: 1px solid #222;

}
.img img:hover {
    opacity: 0.6;

}
.makeAvatar{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ff9900;
    top: 40%;
    font-weight:bold;
    pointer-events: none;
}